<div class="container">
    <div class="form-box">
        <div class="form-box-header">
            <h1 class="h4">
                Sign in or
                <a href="#/signup">Sign up</a>
            </h1>
            <div class="alert alert-info hidden"></div>
        </div>
        <div class="form-box-body">
            <form>
                <good-bad-submit good-submit="login" bad-submit="handleBadSubmit"></good-bad-submit>
                <good-bad-form good-bad-form="userTriedSubmit"></good-bad-form>

                <div class="form-group form-group-email" ng-class="{ 'invalid' : errorInvalidCredentials }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon icon-mail"></i>
                        </span>
                        <input class="form-control" name="email" placeholder="Enter email" type="email" ng-model="email" email required>
                    </div>
                </div>

                <div class="form-group form-group-pw last" ng-class="{ 'invalid' : errorInvalidCredentials }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon icon-lock"></i>
                        </span>
                        <input class="form-control" name="password" placeholder="Password" type="password" ng-model="password" password required>
                    </div>
                </div>

                <div class="extra-stuff-container">
                    <div class="checkbox extra-stuff text-left">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Remember me
                        </label>
                    </div>

                    <div class="extra-stuff text-right">
                        <a class="btn-link login-forgot-pw" href="#/forgot-password">Forgot password?</a>
                    </div>
                </div>

                <button class="btn btn-primary btn-block" ng-click="submit()">
                    <span>Sign in</span>
                </button>

                <div class="alert alert-danger" ng-show="errorServer"><strong>Sign in failed.</strong> We couldn't sign you in due to an unexpected error, please <a href="https://github.com/backslashforward/Fairy/issues" class="alert-link">report this issue</a>.</div>
                <!-- <div class="alert alert-danger" ng-show="errorInvalidCredentials"><strong>Invalid credentials.</strong> Invalid email or password, please try again. Did you <a href="#/forgot-password" class="alert-link">forget your password</a>?</div> -->
            </form>
        </div>
    </div>
</div>