//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    .transition-transform(150ms ease-in);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        .scale(1.04);
    }
}