//
// Form-box
// --------------------------------------------------

.form-box {
    color: #fff;
    .scale(1.25);

    .form-box-header {
        text-align: center;

        small {
            margin-top: 5px;
            display: block;
        }
    }

    .form-group {
        margin-bottom: 10px;

        &.last {
            margin-bottom: 15px;
        }

        &.extra-bottom-margin {
            margin-bottom: 35px;
        }
    }

    .extra-stuff-container {
        display: flex;
    }

    .extra-stuff {
        flex: 1;
        position: relative;
        display: block;
        min-height: 20px;
        margin-top: 0;
        margin-bottom: 15px;

        label, a {
            font-weight: 500;
        }
    }
}

.form-box-header {
    margin-bottom: @line-height-computed;
}