//
// Form-box
// --------------------------------------------------

.form-box {
    color: #fff;
    .force-gpu();

    .form-box-header {
        margin-bottom: 30px;
        text-align: center;

        small {
            font-size: 60%;
            // text-transform: none;
            font-weight: 500;
        }
    }

    small.sub-note {
        margin-top: 5px;
        display: block;
    }

    .form-group {
        margin-bottom: 15px;

        &.last {
            margin-bottom: 20px;
        }

        &.extra-bottom-margin {
            margin-bottom: 45px;
        }
    }

    .extra-stuff-container {
        .flex-display(flex);
    }

    .extra-stuff {
        .flex(1);
        display: block;
        min-height: 20px;
        margin-top: 0;
        margin-bottom: 20px;

        label, a {
            font-weight: 500;
        }
    }
}