//
// Signup view
// --------------------------------------------------

body {
    &.login, &.signup-user, &.signup-company {
        //Needed because a body background shines through in a vertical line between the views when animation otherwise.
        background-color: @fairy-night-blue;        
    }
}

.signup-style() {
    position: absolute; //Needed to make two views animate at the same time.
    bottom: 0px;
    top: 0px;
    width: 100%;
    background: @fairy-night-blue;

    .container {
        .flex-display(flex);
        .align-items(center);
        .justify-content(center);
    }

    .form-box {
        width: 250px;
    }
}

body.slide-left > .state-login {
    &.ng-leave {
        .animation(slide-out-left @easing-linear);
    }
}

body.slide-right > .state-login {
    &.ng-enter {
        .animation(slide-in-left @easing-linear);
    }
}

body.slide-left > .state-signup-user {
    &.ng-enter {
        .animation(slide-in-right @easing-linear);
    }
}

body.slide-right > .state-signup-user {
    &.ng-leave {
        .animation(slide-out-right @easing-linear);
    }
}

.state-signup-user {
    .signup-style;
}

.state-signup-company {
    .signup-style;

    &.slide-left.ng-enter {
        .animation(slide-in-right 500ms);
        opacity: 1;
    }
}
