<div class="container">
    <div class="form-box">
        <div class="form-box-header">
            <h1 class="h4">
                Sign up or
                <a href="#/login">Sign in</a>

                <small>Step 1/2: Your info</small>
            </h1>
            <div class="alert alert-info hidden"></div>
        </div>
        <div class="form-box-body">
            <form>
                <good-bad-submit good-submit="signupUser" bad-submit="handleBadSubmit"></good-bad-submit>
                <good-bad-form good-bad-form="userTriedSubmit"></good-bad-form>

                <div class="form-group form-group-name" ng-class="{ 'valid' : isGood('name'), 'invalid' : isBad('name') }">
                    <label for="name">
                        Full name
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon icon-head"></i>
                        </span>
                        <input class="form-control" name="name" placeholder="Tinkerbell von Neverland" type="text" ng-model="name" person-name required>
                    </div>
                </div>

                <div class="form-group form-group-email has-feedback" ng-class="{ 'valid' : isGood('email'), 'invalid' : isBad('email') }">
                    <label for="email">
                        Email
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon icon-mail"></i>
                        </span>
                        <input class="form-control" name="email" placeholder="tinkerbell@neverland.com" type="email" ng-model="email" email required>
                    </div>
                </div>

                <div class="form-group form-group-pw extra-bottom-margin has-feedback" ng-class="{ 'valid' : isGood('password'), 'invalid' : isBad('password') }">
                    <label for="name">
                        Password
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon icon-lock"></i>
                        </span>
                        <input class="form-control" name="password" placeholder="********" type="password", ng-model="password" password required>
                    </div>
                </div>

                <button class="btn btn-primary btn-block" ng-click="submit()">
                    <span>Continue</span>
                </button>
            </form>
        </div>
    </div>
</div>