<div class="container">
    <h1 class="page-header">Ledger <button class="btn btn-default pull-right" data-toggle="modal" data-target="#create-verification-modal"><span class="glyphicon glyphicon-plus"></span></span> Add verification</button></h1>

    <div class="table-responsive">
        <table class="table ledger table-bordered table-striped" responsive-table>
            <thead>
                <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Text</th>
                    <th colspan="2" ng-repeat="account in book | bookieAccountsFilter : false">{{ account.name }} ({{ account.number }})</th>
                </tr>
                <tr>
                    <th ng-repeat-start="account in book | bookieAccountsFilter : false">Credit</th>
                    <th ng-repeat-end>Debit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="verification in book | bookieVerificationsFilter">
                    <td>{{ verification.number }}</td>
                    <td>{{ verification.date | dateFilter }}</td>
                    <td>{{ verification.text }}</td>
                    <td ng-repeat-start="account in book | bookieAccountsFilter : false">{{ verification | bookieTransactionFilter : account : "credit" | moneyFilter : false }}</td>
                    <td ng-repeat-end>{{ verification | bookieTransactionFilter : account : "debit" | moneyFilter : false }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td ng-repeat-start="account in book | bookieAccountsFilter : false"><strong>{{ sumAccountTransactions(account, "credit") | moneyFilter : false }}</strong></td>
                    <td ng-repeat-end><strong>{{ sumAccountTransactions(account, "debit") | moneyFilter : false }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="create-verification-modal" ng-controller="CreateVerificationController" class="modal fade" bootstrap-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add verification</h4>
            </div>
            <form name="createVerificationForm" novalidate>
                <div class="modal-body">
                    <create-verification></create-verification>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="add-save-btn" value="Save changes" ng-click="submit(close)">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->