<h1>Ledger</h1>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Date</th>
            <th>Text</th>
            <th colspan="2" ng-repeat="account in book | bookieAccountsFilter : false">{{ account.name }} ({{ account.number }})</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th ng-repeat-start="account in book | bookieAccountsFilter : false">Credit</th>
            <th ng-repeat-end>Debit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="verification in book | bookieVerificationsFilter">
            <td>{{ verification.number }}</td>
            <td>{{ verification.date | dateFilter }}</td>
            <td>{{ verification.text }}</td>
            <td ng-repeat-start="account in book | bookieAccountsFilter : false">{{ verification | bookieTransactionFilter : account : "credit" | moneyFilter : false }}</td>
            <td ng-repeat-end>{{ verification | bookieTransactionFilter : account : "debit" | moneyFilter : false }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td ng-repeat-start="account in book | bookieAccountsFilter : false">{{ sumAccountTransactions(account, "credit") | moneyFilter : false }}</td>
            <td ng-repeat-end>{{ sumAccountTransactions(account, "debit") | moneyFilter : false }}</td>
        </tr>
    </tfoot>
</table>