/* Space out content a bit */
body {
  padding-top: 90px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom navbar */
.navbar {
    border-bottom: none;
}

.navbar .navbar-header {
  height: 80px;
}

#fairy-logo {
    height: 60px;
    width: auto;
}

/* Custom page footer */
.footer .container {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
