
  <good-bad-submit good-submit="createExpense" bad-submit="handleBadSubmit"></good-bad-submit>
  <good-bad-form good-bad-form="userTriedSubmit"></good-bad-form>
  <div class="form-group has-feedback" ng-class="{ 'has-success' : isGood('description'), 'has-error' : isBad('description') }">
    <label class="control-label" for="description">Description</label>
    <input class="form-control" name="description" placeholder="What did you buy?" type="text" ng-model="expense.description" required>
    <span class="glyphicon-ok glyphicon form-control-feedback" ng-show="isGood('description')"></span>
    <span class="glyphicon-remove glyphicon form-control-feedback" ng-show="isBad('description')"></span>
  </div>
  <div class="form-group has-feedback" ng-class="{ 'has-success' : isGood('price'), 'has-error' : isBad('price') }">
    <label class="control-label" for="price">Price</label>
    <input class="form-control" name="price" placeholder="How much did it cost?" type="number" ng-model="expense.price" ng-change="changed('price')" required>
    <span class="glyphicon-ok glyphicon form-control-feedback" ng-show="isGood('price')"></span>
    <span class="glyphicon-remove glyphicon form-control-feedback" ng-show="isBad('price')"></span>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="expense.priceIncludesVat"> Price is inclusive vat
    </label>
  </div>
  <div class="form-group has-feedback" ng-class="{ 'has-success' : isGood('vatRate'), 'has-error' : isBad('vatRate') }">
    <label class="control-label" for="vatRate">VAT % rate</label>
    <input class="form-control" name="vatRate" placeholder="What is the VAT % rate?" type="text" ng-model="expense.vatRate" ng-change="changed('vatRate')" required valid-vat-rate>
    <span class="glyphicon-ok glyphicon form-control-feedback" ng-show="isGood('vatRate')"></span>
    <span class="glyphicon-remove glyphicon form-control-feedback" ng-show="isBad('vatRate')"></span>
  </div>
  <div class="form-group has-feedback" ng-class="{ 'has-success' : isGood('vat'), 'has-error' : isBad('vat') }">
    <label class="control-label" for="vat">VAT</label>
    <input class="form-control" name="vat" placeholder="What is the VAT of the expense?" type="number" ng-model="expense.vat" ng-change="changed('vat')" required>
    <span class="glyphicon-ok glyphicon form-control-feedback" ng-show="isGood('vat')"></span>
    <span class="glyphicon-remove glyphicon form-control-feedback" ng-show="isBad('vat')"></span>
  </div>
  <div class="form-group" ng-class="{ 'has-success' : isGood('owners'), 'has-error' : isBad('owners') }">
    <label class="control-label">Owners</label>
    <owners-selection name="owners" ng-model="expense.owners" required></owners-selection>
  </div>
  <div class="form-group" ng-class="{ 'has-success' : isGood('payer'), 'has-error' : isBad('payer') }">
    <label class="control-label">Who paid?</label>
    <payer-selection name="payer" ng-model="expense.payer" required></payer-selection>
  </div>
</form>

<div class="alert alert-danger" ng-show="error" style="margin-bottom:0px"><strong>Crap.</strong> Failed to create expense, please <a href="https://github.com/backslashforward/Fairy/issues" class="alert-link">report this issue</a>.</div>
