//
// Signup view
// --------------------------------------------------

.signup-view {
    background: @fairy-night-blue;
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-box {
        width: 250px;
    }
}