<h1 class="page-header">Purchases <button class="btn btn-default pull-right" ng-click="openAddPurchaseModal()"><span class="glyphicon glyphicon-plus"></span> Add purchase</button></h1>
<div class="table-wrapper" id="purchases" style="display:none;">
    <div class="table-scroll-wrapper">
        <table cellspacing="0" class="responsive auto-on">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>How much</th>
                    <th>Tax rate</th>
                    <th ng-repeat="partner in partners">{{partner.fullname}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="voucher" ng-repeat="voucher in vouchers">
                  <td>{{voucher.text}}</td>
                  <td>{{voucher.howMuch}}</td>
                  <td>{{voucher.taxRate}}</td>
                  <td ng-repeat="partnerShare in voucher.partnerShares">{{partnerShare}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h1 class="page-header">Revenues <button class="btn btn-default pull-right" ng-click="openAddPurchaseModal()"><span class="glyphicon glyphicon-plus"></span> Add revenue</button></h1>
<div class="table-wrapper" id="revenues" style="display:none;">
    <div class="table-scroll-wrapper">
        <table cellspacing="0" class="responsive auto-on">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>How much</th>
                    <th>Tax rate</th>
                    <th ng-repeat="partner in partners">{{partner.fullname}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="voucher" ng-repeat="voucher in vouchers">
                  <td>{{voucher.text}}</td>
                  <td>{{voucher.howMuch}}</td>
                  <td>{{voucher.taxRate}}</td>
                  <td ng-repeat="partnerShare in voucher.partnerShares">{{partnerShare}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="add-purchase-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add purchase</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input class="form-control" value="" placeholder="Text" ng-model="newPurchade.name">
            <br>
            <input class="form-control" value="" placeholder="How much $?" ng-model="newPurchase.price">
            <br>
            <input class="form-control" value="" placeholder="What is the tax rate?" ng-model="newPurchase.taxRate">
            <br>
            <div class="input-group" ng-repeat="partner in partners">
                <input type="checkbox" class="partnerShareSwitch" data-on-text="{{partner.fullname}} owns this" data-off-text="{{partner.fullname}} doesn't owsn this" checked data-on-color="success" data-off-color="danger" ng-model="newPurchase.partner.newPurchaseShare">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-save-btn">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->