<input class="form-control" value="" placeholder="Description" type="text" ng-model="expense.description">
<br>
<input class="form-control" value="" placeholder="Price" type="number" ng-model="expense.price" ng-change="updateVat()">
<br>
<input type="checkbox" ng-model="expense.priceInclusiveVat" ng-change="updateVat()"> Price is inclusive VAT
<br>
<br>
<input class="form-control" value="" placeholder="VAT % rate" type="number" ng-model="expense.vatRate" ng-change="updateVat()">
<br>
<input class="form-control" value="" placeholder="VAT" type="number" ng-model="expense.vat" ng-change="handleVatChanged()">
<br>
<h2>Owners</h2>
<div class="input-group" ng-repeat="partner in partners">
  <input checklist-model="expense.owners" checklist-value="partner"> {{partner.fullname}}
</div>

<p>{{expense.owners | json}}</p>
