<input class="form-control" value="" placeholder="Description" type="text" ng-model="newItem.description">
<br>
<input class="form-control" value="" placeholder="Price" type="number" ng-model="newItem.price" ng-change="updateVat()">
<br>
<input type="checkbox" ng-model="newItem.priceInclusiveVat" ng-change="updateVat()"> Price is inclusive VAT
<br>
<br>
<input class="form-control" value="" placeholder="VAT % rate" type="number" ng-model="newItem.vatRate" ng-change="updateVat()">
<br>
<input class="form-control" value="" placeholder="VAT" type="number" ng-model="newItem.vat" ng-change="handleVatChanged()">
<br>
<h2>Owners</h2>
<div class="input-group" ng-repeat="owner in newItem.owners">
  <input type="checkbox" ng-model="owner.owns" value="{{owner.partner.fullname}}"> {{owner.partner.fullname}}
</div>

<p ng-repeat="owner in newItem.owners">{{owner}}</p>